@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@400;500;900&display=swap');

$font-main: 'Raleway', serif; 

$fw-normal: 400;
$font-bold: 900;
$fs-small: 18px;
$fs-normal: 24px;
$fs-large: 64px;