@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@400;500;900&display=swap');

$font-main: 'Raleway', serif; 
//fonts-weight
$font-default: 400;
$font-normal: 700;
$font-bold: 900;

// font sizes
$fs-small: 18px;
$fs-normal: 24px;
$fs-large: 64px;
//line-height
$lh-normal: 28px;
$lh-small: 21px;

body {
    font-family: $font-main;
}

h1 {
    font-size: $fs-large;
}

h3 {
    font-weight: $font-bold;
    line-height: $lh-normal;
}


h4 {
    font-size: $fs-normal;
    line-height: $lh-normal;
    font-weight: $font-bold;
}

h5 {
    font-size: $fs-small;
    font-weight: $font-default;
}




